# Django #
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media

# Si tienes un entorno virtual dentro del proyecto
venv/
env/
ENV/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Archivos de logs
logs/
*.log

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Traducciones
*.mo

# Django drf-spectacular
/schema/

# Archivos estáticos recogidos en producción
staticfiles/

# Documentación
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Archivos IDE específicos
# Visual Studio Code
.vscode/
.history/
*.code-workspace

# PyCharm
.idea/
*.iml
*.iws
*.ipr
*.iws
.idea_modules/
out/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# Archivos de sistema operativo
# Mac OS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp
*.lnk

# Archivos de configuración local
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Archivos de respaldo
*.bak
*.swp
*~

# Archivos generados durante la ejecución
*.tmp
